header{
  width: 100%;
  height: 5rem;
}

header ul{
  list-style-type: none;
}

header, 
ul {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: auto;
  padding: 0;
}

header ul li {
  cursor: pointer;

  margin: 0 0.5rem 0 0.5rem;
}

header ul li span{
  font-size: var(--size-header-icon);
  font-variation-settings: var(--icons-outline);
  color: var(--color-main);
}

header ul li:hover span {
  font-variation-settings: var(--icons-solid);
}
