:host {
  width: auto;
  display: flex;
  background-color: #001927;
}

p {
  margin: 0;
}

#blackout {
  position: absolute;
  left: 4rem;
  width: calc(100vw - 4rem);
  height: 100vh;

  z-index: 10;

  background-color: black;
  opacity: 0.25;
}

#nav-symbols,
#nav-names,
#nav-active-line {
  display: flex;
  flex-direction: column;
}

#nav-active-line li {
  border-radius: 0 15% 15% 0;
}

#nav-symbols {
  width: 4rem;

  display: flex;
  align-items: center;

  z-index: 20;
}

#nav-names {
  position: absolute;
  left: 4rem;
  z-index: 30;

  padding-right: 2em;

  background-color: #001927;
}

ul {
  height: 100vh;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

ul > :first-child {
  margin-top: 1rem;
}

ul > .nav-end {
  margin-top: auto;
}

ul > :last-child {
  margin-bottom: 1rem;
}

ul > li {
  cursor: pointer;
  height: 2rem;

  margin: 0.3em 0 0.3em 0;
  padding: 0.3em;

  display: flex;
  align-items: center;
}

.app-icon,
.nav-icon{
    color: #aaa;
    font-variation-settings: var(--icons-outline);
    font-size: var(--size-nav-icon);
}

#nav-symbols > li:has(.nav-icon),
#nav-symbols > li:has(.app-icon){
  display: grid;
  justify-content: center;
  align-items: center;

}

#nav-symbols > li:has(.nav-icon){
    width: 2.5rem;
    border-radius: 0.75em 0 0 0.75em;
}

#nav-symbols > li:has(.app-icon){
    width: 2rem;
    border-radius: 0.75em;
}


/* Background behind icon */
#nav-symbols > li:hover {
  background-color: #0086ad;
}

/* Icon */
#nav-symbols > li:hover span {
  color: #daf8e3;

  font-variation-settings: var(--icons-solid);
}

#nav-names > li{
  color: #aaa;
  border-radius: 0 0.5em 0.5em 0;
  padding-right: 2em;
}

#nav-names > li:not(#project-name):hover {
  color: #daf8e3;
  background-color: #0086ad;
}

#nav-active-line{
    z-index: 20;
}

#nav-active-line > li {
  padding-right: 0;
  padding-left: 0.2em;
  background-color: #0086ad;
}

.project-line {
  opacity: 0;
}

/* Active Nav Icon w/ selected module */
.nav-icon-round{
    width: 2rem !important;
    border-radius: 0.75rem !important;
    background-color: #0086ad;
}

.nav-icon-round > span{
    color: #daf8e3;

}