<ul id="nav-symbols">
    <li title="Alle Programme"> 
        <span 
        class="material-icons nav-icon" 
        id="nav-apps">apps</span>
    </li>
    <li title="Übersicht">
        <span 
        class="material-symbols-outlined nav-icon" 
        id="nav-overview">dashboard</span>
    </li>
    <li title="Verlauf">
        <span 
        class="material-symbols-outlined nav-icon" 
        id="nav-history">fast_rewind</span>
    </li>
    <li title="Urlaub">
        <span 
        class="material-symbols-outlined nav-icon" 
        id="nav-holiday">clear_day</span>
    </li>
    <li class="nav-end" title="Einstellungen">
        <span 
        class="material-symbols-outlined nav-icon" 
        id="nav-settings">settings</span>
    </li>
    <li title="Support">
        <span 
        class="material-symbols-outlined nav-icon" 
        id="nav-suppport">contact_support</span>
    </li>
</ul>

<ul id="nav-names">
    <li id="project-name">
        <p>TIME</p>
    </li>
    <li>
        <p>Übersicht</p>
    </li>
    <li>
        <p>Verlauf</p>
    </li>
    <li>
        <p>Urlaub</p>
    </li>
    <li class="nav-end"> 
        <p>Einstellungen</p>
    </li>
    <li>
        <p>Support</p>
    </li>
</ul>