:host{
  background-color: #001927;
}

nav ul{
  height: 100vh;
  display: flex;
  flex-direction:column;
  
  margin: 0;
  padding: 0;

  list-style-type: none;
}

nav ul > :first-child {
  margin-top: 1rem;
}

nav ul > #nav-end {
  margin-top: auto;
}

nav ul > :last-child {
  margin-bottom: 1rem;
}

nav ul li{
  display:flex;
  align-items: center;

  margin: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;

  cursor: pointer;
}

nav ul li:hover{
  background-color: #0085ad50;
}

nav ul li::before{
  content: "";
  
  position: absolute;
  left: 0;
  
  height: 1.5rem;
  width: 0.25rem;

  border-radius: 0 0.5rem 0.5rem 0;
}

nav ul li:hover::before{
  background-color: #daf8e3;
}

nav ul li span,
nav ul li p{
  color: #aaa;
}

nav ul li span{
  padding: 0.5rem;
  border-radius: 100%;
  
  background-color: rgba(71, 133, 133, 0.2);

  font-size: var(--size-nav-icon);
  font-variation-settings: var(--icons-outline);
}

nav ul li p{
  margin: 0 2rem 0 0.5rem;
}

nav ul li:hover span,
nav ul li:hover p{
  color: #daf8e3;
}

nav ul li:hover span{
  background-color: rgba(71, 133, 133, 0.3);
  
  font-variation-settings: var(--icons-solid);
}

/*:host {
  width: auto;
  display: flex;
  background-color: #001927;
}

p {
  margin: 0;
}

#blackout {
  position: absolute;
  left: 4rem;
  width: calc(100vw - 4rem);
  height: 100vh;

  z-index: 10;

  background-color: black;
  opacity: 0.25;
}

#nav-symbols,
#nav-names,
#nav-active-line {
  display: flex;
  flex-direction: column;
}

#nav-active-line li {
  border-radius: 0 15% 15% 0;
}

#nav-symbols {
  width: 4rem;

  display: flex;
  align-items: center;

  z-index: 20;
}

#nav-names {
  position: absolute;
  left: 4rem;
  z-index: 30;

  padding-right: 2em;

  background-color: #001927;
}

ul {
  height: 100vh;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

ul > :first-child {
  margin-top: 1rem;
}

ul > .nav-end {
  margin-top: auto;
}

ul > :last-child {
  margin-bottom: 1rem;
}

ul > li {
  cursor: pointer;
  height: 2rem;

  margin: 0.3em 0 0.3em 0;
  padding: 0.3em;

  display: flex;
  align-items: center;
}

.app-icon,
.nav-icon{
    color: #aaa;
    font-variation-settings: var(--icons-outline);
    font-size: var(--size-nav-icon);
}

#nav-symbols > li:has(.nav-icon),
#nav-symbols > li:has(.app-icon){
  display: grid;
  justify-content: center;
  align-items: center;

}

#nav-symbols > li:has(.nav-icon){
    width: 2.5rem;
    border-radius: 0.75em 0 0 0.75em;
}

#nav-symbols > li:has(.app-icon){
    width: 2rem;
    border-radius: 0.75em;
}

#nav-symbols > li:hover {
  background-color: #0086ad;
}

#nav-symbols > li:hover span {
  color: #daf8e3;

  font-variation-settings: var(--icons-solid);
}

#nav-names > li{
  color: #aaa;
  border-radius: 0 0.5em 0.5em 0;
  padding-right: 2em;
}

#nav-names > li:not(#project-name):hover {
  color: #daf8e3;
  background-color: #0086ad;
}

#nav-active-line{
    z-index: 20;
}

#nav-active-line > li {
  padding-right: 0;
  padding-left: 0.2em;
  background-color: #0086ad;
}

.project-line {
  opacity: 0;
}

.nav-icon-round{
    width: 2rem !important;
    border-radius: 0.75rem !important;
    background-color: #0086ad;
}

.nav-icon-round > span{
    color: #daf8e3;
}*/