:host{
    display: flex;
    flex-direction: column;

    width: 6em;

    background-color: var(--color-main);
}

ul{
    margin: 0.5em 0 0 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
}

ul>:last-child{
    margin-top: auto;
    margin-bottom: 1rem;
}

ul>li{
    cursor: pointer;

    display: grid;
    justify-items: center;
    align-items: center;

    width: 2.5em;
    height: 2.5em;

    margin: 0.3em 0 0.3em 0;
    padding: 0.3em;

    border-radius: 100%;
}

.nav-icon{
    color: #aaa;
    font-size: var(--size-nav-icon);
}

/* Circle background for icon */
ul>li:hover{
    background-color: var(--color-sub-accent);
}

/* Icon */
ul>li:hover span{
    color: rgb(23, 19, 42);

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

