#wrapper{
    height: auto;
    width: 100%;

    padding: 0 0.5em 0 2em;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: var(--color-sub);
    box-shadow: 15px 0px 50px 2px #1e042d;
    
    border-radius: 1em 0 0 1em;
    border-left: solid white 1px;
}