#wrapper{
    position: absolute;
    top: 0;
    left: 5rem;
    height: 100vh;
    width: -webkit-fill-available;
    width: -moz-available;

    margin: 0;
    padding: 0 2rem 0 2rem;

    background-color: var(--color-sub);
    
    border-radius: 1rem 0 0 1rem;
    border-left: solid white 1px;
}