#wrapper{
    position: absolute;
    top: 0;
    left: 5rem;
    height: 100vh;
    width: calc(100vw - 10rem);
    
    padding: 0 2rem 0 2rem;

    background-color: var(--color-sub);
    
    border-radius: 1rem 0 0 1rem;
    border-left: solid white 1px;
}