:root{
    --color-error: #ef476f;
    --color-warning: #ffd166;
    --color-ok: #06d6a0;
    --color-info: #118ab2;

    --color-main: rgb(23, 19, 42);
    --color-sub: #ccc;

    --color-main-accent: #25417c;
    --color-sub-accent: rgb(228, 228, 228);

    --color-font-lightBG: #333333;
    --color-font-darkBG: #f6f6f6;

    --size-nav-icon: 1.75rem;
    --size-nav-font: 0.7rem;
}
  
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

html, body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: var(--color-main)
}

html, body, app-root{
    height: 100%;
}

app-root{
    display:flex;
    flex-direction: row;
}