:root{
    --color-error: #ef476f;
    --color-warning: #ffd166;
    --color-ok: #06d6a0;
    --color-info: #118ab2;

    --color-main: #0b1e46;

    --color-font-lightBG: #333333;
    --color-font-darkBG: #f6f6f6;
}

html, body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body, app-root{
    height: 100%;
}

app-root{
    display:flex;
    flex-direction: row;
}