:root {
  --color-error: #ef476f;
  --color-warning: #ffd166;
  --color-ok: #06d6a0;
  --color-info: #118ab2;

  --color-main: rgb(23, 19, 42);
  --color-sub: #eee;

  --color-main-accent: rgb(94, 98, 129);
  --color-sub-accent: rgb(228, 228, 228);

  --color-font-lightBG: #333333;
  --color-font-darkBG: #f6f6f6;

  --size-nav-icon: 1.75rem;

  --size-header-icon: 2rem;

  --icons-outline: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  --icons-solid: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html,
body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main);
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: row;
}

p,
h1,
h2 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
